/* NOTE: Within each section, rules are sorted ALPHABETICALLY. */
/* NOTE: Attributes are sorted in order of: 
- type
- id
- class
- user-def attributes
- src/links
- alt text
*/
/* || GENERAL - Variables and element tags */
body {
    background-color: var(--white);
}
header {
    display: block flex;
    justify-content: center;
    margin: 0px 0px 50px 0px;
    padding: 50px 0px 0px 0px;
    width: 100%;
}
main {
    display: block flex;
    justify-content: center;
    margin: 50px 0px 10px 0px;
    width: 100%;
}
p {
    font-family: Verdana;
    font-size: 14px;
}
:root {
    --orange: #f68721;
    --white: #fcfcfc;
}

/* || UTILITIES - Rules that flexibly apply to many elements */
.left {
    margin-left: 0%;
    margin-right: auto;
}
.right {
    margin-left: auto;
    margin-right: 0%;
}
.sidebar {
    flex-shrink: 0;
    min-width: 150px;
    max-width: 150px;
}

/* || SPECIFIC - Rules for all other components, context-specific styles, children, etc. */
#doit-logo {
    height: 30px;
    width: auto;
}
#header-left {
    display: flex;
    justify-content: left;
}
#header-right {
    display: flex;
    justify-content: right;
}
#new-proj-btn {
    background-color: var(--orange);
    border: none;
    border-radius: 30px;
    color: var(--white);
    font-family: Verdana;
    font-size: 14px;
    padding: 13px 34px;
    text-align: center;
}
#new-proj-btn:hover {
    background-color: hsl(from var(--orange) h s calc(l - 15));
    cursor: pointer;
}
#new-proj-btn-sxn {
    display: flex;
    align-items: center;
}