:root {
    --orange: #f68721;
    --white: #fcfcfc;
}
/*
npm run dev
*/
header {
    display: block flex;
    width: 100%;
}

header > #header-left {
    display: flex;
    justify-content: left;
}

header > #header-right {
    display: flex;
    justify-content: right;
}

.header-sidebar {
    flex-shrink: 0;
    min-width: 100px;
    max-width: 100px;
}

header > .left {
    margin-left: 0%;
    margin-right: auto;
}

header > .right {
    margin-left: auto;
    margin-right: 0%;
}

#doit-logo {
    height: 30px;
    width: auto;
}

body {
    background-color: var(--white);
}

p {
    font-family: Verdana;
    font-size: 14px;
}

#new-proj-btn {
    background-color: var(--orange);
    border: none;
    border-radius: 30px;
    color: var(--white);
    font-family: Verdana;
    font-size: 14px;
    padding: 13px 34px;
    text-align: center;
}

#new-proj-btn:hover {
    background-color: hsl(from var(--orange) h s calc(l - 15));
    cursor: pointer;
}